@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #1f2425;
  --secondary-text-color: #292d32;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

p {
  text-align: left;
}

textarea {
  border: 1px solid black;
  border-radius: 8px;
  padding: 12px;
}

.button {
  font-size: 12px;
  font-weight: bold;
  padding: 6px 12px;
  background: black;
  color: white;
}

.blinking {
  animation-name: blinking;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
